{% extends "base/base.html" %}
{% block content %}
<div class="card shadow-sm col-md-6 mx-auto">
  <div class="card-body">
    <h5 class="fw-bold mb-3">
      📝 {% if form.instance.pk %}Edit{% else %}Create{% endif %} {{ title }}
    </h5>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="d-flex justify-content-end gap-2">
        <a href="javascript:history.back()" class="btn btn-light">Cancel</a>
        <button class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
