{% extends "base/authbase.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="card shadow auth-card col-md-4 mx-auto">
  <div class="card-body">

    <h4 class="fw-bold text-center mb-3">📝 Register</h4>

    <!-- NON-FIELD ERRORS -->
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}

      {% for field in form %}
        <div class="mb-3">
          <input
            type="{{ field.field.widget.input_type }}"
            name="{{ field.name }}"
            class="form-control {% if field.errors %}is-invalid{% endif %}"
            placeholder="{{ field.label }}"
            value="{{ field.value|default:'' }}"
            {% if field.field.required %}required{% endif %}>

          {% if field.errors %}
            <div class="invalid-feedback">
              {{ field.errors.0 }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <button class="btn btn-primary w-100">
        Create Account
      </button>
    </form>

    <hr>

    <p class="text-center mb-0">
      Already have an account?
      <a href="{% url 'login' %}" class="fw-semibold">Login</a>
    </p>

  </div>
</div>
{% endblock %}
