{% extends "base/base.html" %}

{% block content %}
<div class="card shadow-sm col-md-4 mx-auto">
  <div class="card-body">
    <h4 class="fw-bold text-center mb-3">🧾 Register</h4>

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Username"
          required>
      </div>

      <div class="mb-3">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Email"
          required>
      </div>

      <div class="mb-3">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required>
      </div>

      <button class="btn btn-success w-100">Create Account</button>
    </form>

    <hr>

    <p class="text-center mb-0">
      Already have an account?
      <a href="{% url 'login' %}" class="fw-semibold">Login</a>
    </p>
  </div>
</div>
{% endblock %}
